Inventario.Impl/Service References/InventarioServiceReference/ProductosService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Inventario.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Inventario.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductosModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Costo" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdCategoria" type="xs:int" />
      <xs:element minOccurs="0" name="NombreValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductosModel" nillable="true" type="tns:ProductosModel" />
  <xs:complexType name="ArrayOfProductosModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductosModel" nillable="true" type="tns:ProductosModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductosModel" nillable="true" type="tns:ArrayOfProductosModel" />
</xs:schema>