Inventario.Impl/Service References/InventarioServiceReference/ProductosService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductosService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51418/ProductosService/ProductosService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51418/ProductosService/ProductosService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51418/ProductosService/ProductosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Inventario.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductosService_CrearProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearProducto" />
  </wsdl:message>
  <wsdl:message name="IProductosService_CrearProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IProductosService_ConsultarProductoPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarProductoPorId" />
  </wsdl:message>
  <wsdl:message name="IProductosService_ConsultarProductoPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarProductoPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IProductosService_ConsultarProductosPorNombre_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarProductosPorNombre" />
  </wsdl:message>
  <wsdl:message name="IProductosService_ConsultarProductosPorNombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarProductosPorNombreResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductosService">
    <wsdl:operation name="CrearProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductosService/CrearProducto" message="tns:IProductosService_CrearProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductosService/CrearProductoResponse" message="tns:IProductosService_CrearProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarProductoPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductosService/ConsultarProductoPorId" message="tns:IProductosService_ConsultarProductoPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductosService/ConsultarProductoPorIdResponse" message="tns:IProductosService_ConsultarProductoPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarProductosPorNombre">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductosService/ConsultarProductosPorNombre" message="tns:IProductosService_ConsultarProductosPorNombre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductosService/ConsultarProductosPorNombreResponse" message="tns:IProductosService_ConsultarProductosPorNombre_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductosService" type="tns:IProductosService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearProducto">
      <soap:operation soapAction="http://tempuri.org/IProductosService/CrearProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarProductoPorId">
      <soap:operation soapAction="http://tempuri.org/IProductosService/ConsultarProductoPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarProductosPorNombre">
      <soap:operation soapAction="http://tempuri.org/IProductosService/ConsultarProductosPorNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductosService">
    <wsdl:port name="BasicHttpBinding_IProductosService" binding="tns:BasicHttpBinding_IProductosService">
      <soap:address location="http://localhost:51418/ProductosService/ProductosService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>